*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: green;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr 10fr 1fr;
}

header{
    grid-column: span 2;
}

main{
    display: grid;
    grid-template-columns: 300px  1fr;
    grid-column: span 2;
}

#sidebar{
 display: grid;
 grid-auto-rows: 50px;

 /* gap: 10px; */
}

footer{
    margin-top: auto;
}